.app {
  text-align: center;
}

html {
  scroll-snap-type: y mandatory;
}

.app__videos {
  position: relative;
  height: 800px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}
/* To not display scroll bar on following */
.app__videos::-webkit-scrollbar {
  /* chrome, opera, Safari */
  display: none;
}
.app__videos {
  /* IE and EDGE */
  -ms-overflow-style: none;
  /* firefox */
  scrollbar-width: none;
}
